<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<img width="64" src="/images/logo128.png"></img>
<h3>Chrome App</h3>
<a href="/resources/elicity.crx">download latest version 0.1.0</a>

<h3>how to:</h3>
<h4>Add extension to chrome:</h4>
<ul>
    <li>Download <a href="/resources/elicity.crx">elicity.crx</a></li>
    <li>Drag and drop here <a href="chrome://extensions/">chrome://extensions</a></li>
</ul>
<img src="/resources/add_extension.gif"><img>

<h4>Usage:</h4>
<ul>
    <li>Login as demo user</a></li>
    <li>Enable feature</li>
</ul>
<img src="/resources/usage.gif"><img>