<!--
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<img width="64" src="/images/logo128.png"></img>
<h3>Chrome App</h3>
<a href="/resources/elicity.crx">download latest version 0.1.0</a>

<h3>how to:</h3>
<h4>Add extension to chrome:</h4>
<ul>
    <li>Download <a href="/resources/elicity.crx">elicity.crx</a></li>
    <li>Drag and drop here <a href="chrome://extensions/">chrome://extensions</a></li>
</ul>
<img src="/resources/add_extension.gif"><img>

<h4>Usage:</h4>
<ul>
    <li>Login as demo user</a></li>
    <li>Enable feature</li>
</ul>
<img src="/resources/usage.gif"><img>
-->

    <div class="overlay"></div>

    <div class="masthead">
      <div class="masthead-bg"></div>
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-12 my-auto">
            <div class="masthead-content text-white py-5 py-md-0">
              <h1 class="mb-3">Coming Soon!</h1>
              <p class="mb-5">We're working hard to finish the development of this site. Our target launch date is
                <strong>January 2019</strong>! Sign up for updates using the form below!</p>
              <div class="input-group input-group-newsletter">
                <input type="email" class="form-control" placeholder="Enter email..." aria-label="Enter email..." aria-describedby="basic-addon">
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="button">Notify Me!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="social-icons">
      <ul class="list-unstyled text-center mb-0">
        <li class="list-unstyled-item">
          <a href="#">
            <i class="fa fa-chrome"></i>
          </a>
        </li>
        <li class="list-unstyled-item">
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="list-unstyled-item">
          <a href="#">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
      </ul>
    </div>
